**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
./__pycache__

# Jupyter
.ipynb_checkpoints/

# Entornos
env/
venv/
.venv/

# OS
.DS_Store

# Outputs XFOIL
xfoil_out/
**/*.dat

# Outputs GMM
**/example_GMM/

# Outputs mallas
**/*.h5
**/*.vtf
**/*.msh

# Outputs GMM
**/example_GMM/

# Logs
**/*.log
**/*.out
**/*.err

# Sbatch
**/*.sh
**/*.script
